body{
    background-color: darkslategray;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    color: whitesmoke;
}
.num{
    font-size: 150px;
    font-weight: bold;
    color:azure;
}
.den{
    font-size: 25px;
}
button{
    font-size: 20px;
    border-radius: 10%;
    align-items: center;
    margin-left:20px;
}
.btn-cont{
    text-align: center;
    margin-top: 40px;
}
#start{
    background-color: rgba(12, 194, 12, 0.715);
}
#stop{
    background-color: rgba(204, 7, 7, 0.826);
}
#restart{
    background-color:rgba(206, 206, 9, 0.945);
}